<div class="row">
  <div class="col-md-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="content col-md-5">
    <div class="activity-home">
      <h2 class="recent-home">Activités récentes</h2>
      <hr>
      <app-actuality-homepage></app-actuality-homepage>
    </div>
  </div>
  <div class="welcome col-md-5">
    <div class="hi-placement text-center">
      <h2>Bonjour <span class="gras"><app-person-name></app-person-name></span>!</h2>
      <p>Bienvenue sur IdeaView</p>
    </div>
  </div>
</div>
