<div class="wrapper">
  <div class="logo">
    <img src="./assets/media/img/IDEAVIEW-LOGO-TRANSPARENT.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    Connexion
  </div>
  <form [formGroup]="formIdentification" (ngSubmit)="submitForm()" class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input required=""
             [ngClass]="{
                  'has-danger': email.invalid && (email.dirty || email.touched),
                  'has-success': email.invalid && (email.dirty || email.touched),
              }" type="email" name="email" id="mail" placeholder="E-mail" formControlName="email">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input required=""
             [ngClass]="{
                  'has-danger': password.invalid && (password.dirty || password.touched),
                  'has-success': password.invalid && (password.dirty || password.touched),
              }" type="password" name="password" id="password" placeholder="Mot de passe" formControlName="password">
    </div>
    <button class="btn mt-3">Se connecter</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">Mot de passe oublié?</a> ou <a routerLink="/sign-up">S'inscrire</a>
  </div>
</div>
