<form  class="row g-3" [formGroup]="myAddProjectForm" novalidate>
  <div class="col-md-12">
    <label for="name" class="form-label">Nom du projet</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="col-12">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description" required maxlength="255" size="20">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="statut" class="form-label">Statut</label>
    <select id="statut" class="form-select" formControlName="statut">
      <option selected>Choose...</option>
      <option>devloppeur</option>
      <option>graphiste</option>
      <option>chef de projet</option>
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Accepter les conditions
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
    <pre>{{ myAddProjectForm.value | json }}</pre>
  </div>
</form>
