<div class="row">
<div class="col-md-2">
  <app-project-sidebar></app-project-sidebar>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="container mt-3" style="margin-left:-9%;position:fixed">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Ajouter
      </button>
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ajout d'une suggestion</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form [formGroup]="formSuggestion" (ngSubmit)="submitForm()" novalidate style="width: 100%; max-width: 100%">
              <div class="form-group">
                <input type="text" class="form-control form-control-rounded"
                       style="resize: none"
                       rows="5"
                       placeholder="Ecrivez le titre ici..."
                       required=""
                       [ngClass]="{
                  'has-danger': title.invalid && (title.dirty || title.touched),
                  'has-success': title.invalid && (title.dirty || title.touched),
              }" id="title" placeholder="Titre de la suggetion" formControlName="title">
                <textarea class="form-control form-control-rounded"
                          style="resize: none"
                          rows="5"
                          placeholder="Ecrivez votre suggestion ici..."
                          required=""
                          [ngClass]="{
                  'has-danger': content.invalid && (content.dirty || content.touched),
                  'has-success': content.invalid && (content.dirty || content.touched),
              }" id="content" placeholder="Contenu de la suggetion" formControlName="content">
              </textarea>
              </div>
              <div class="text-right">
                <button class="btn btn-outline-primary" type="submit">Envoyer</button>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">

    <div *ngFor="let suggestion of suggestions; let i = index" class="comment">
      <div class="comment-author-ava"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Avatar"></div>
      <div class="comment-body">
        <div style="display:flex;justify-content: space-between">
          <h5>{{suggestion.title}}</h5>
          <i class="bi bi-trash"></i>
        </div>
        <p class="comment-text">{{suggestion.content}}</p>
        <div class="comment-footer">
<!--          <span class="comment-meta">{{suggestion.users.firstname}} {{suggestion.users.lastname}}</span>-->
          <span class="comment-meta">{{suggestion.date_creation}}</span>
        </div>
      </div>
    </div>

    <!-- Template messages-->
<!--    <div class="comment">-->
<!--      <div class="comment-author-ava"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Avatar"></div>-->
<!--      <div class="comment-body">-->
<!--        <h5>Test de mecanique dans le domaine du chouchou</h5>-->
<!--        <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium-->
<!--          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non-->
<!--          provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>-->
<!--        <div class="comment-footer"><span class="comment-meta">Daniel Adams</span></div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>
</div>
