<div class="d-none d-md-flex sidebar-container">
  <div class="sidebar-header">
    <a routerLink="" class="d-block p-3 link-dark text-decoration-none" title="">
      <img src="assets/media/img/IDEAVIEW-LOGO-TRANSPARENT.png" alt="Logo">
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a routerLink="/new-project" class="nav-link active border-bottom" aria-current="page" title="">
          <i class="bi bi-plus-circle tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-content">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
      <li>
        <a routerLink="/project" class="nav-link border-bottom" title="">
          <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" routerLink="/create-project">Create project</a></li>
        <li><a class="dropdown-item" routerLink="/join-project">Join project</a></li>
        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="login">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/media/img/IDEAVIEW-LOGO-TRANSPARENT.png" alt="Logo" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/project" class="nav-link border-bottom" title="">
            <i class="bi bi-people tailleimg" style="font-size: 3.5vh"></i>
          </a>
        </li>
      </ul>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/create-project">Create project</a></li>
          <li><a class="dropdown-item" routerLink="/join-project">Join project</a></li>
          <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="login">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
