* {
  /*margin: 0;*/
  /*padding: 0;*/
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Pour éviter le défilement horizontal */
}

.tailleimg {
  width: 32px;
}

.sidebar-container {
  width: 4.5rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.sidebar-header {
  flex-shrink: 0;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-footer {
  flex-shrink: 0;
  border-top: 1px solid #dee2e6;
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
}
