<div class="container emp-profile">
  <!--  <form method="post">-->
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
          alt=""/>
        <div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" name="file"/>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-head">
        <h5>
          <app-person-name></app-person-name>
        </h5>
        <h6>
          <app-person-job></app-person-job>
        </h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a routerLink="/profile" class="nav-link active border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
              Général
            </a>
          </li>
          <li>
            <a routerLink="/profile/securite" class="nav-link border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              Securite
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>User Id</label>
            </div>
            <div class="col-md-6">
              <p>Kshiti123</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>
                <app-person-email></app-person-email>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p>
                <app-person-number></app-person-number>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  </form>-->
</div>
